/* Task 1 */

div>h3:first-child {
    color: pink;
}
#greycol {
    color: grey;
}

div>p:first-child {
    color: red;
}

.yellow {
    color: yellow;
}

div~p {
    color: green;
}

/* Task 2 */


 li:first-child {
    color: blue;
 }

li:nth-child(2){
    color: red;
 }

 li:nth-child(3){
    color: green;
 }

 li:last-child{
    color: yellow;
 }